<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/404.css">

</head>
<body>

<div id="particles-js">	</div>
<div id="spacer"></div>
<p>404</p>
<p id="tag">Сторінку <span>{{url}}</span> не знайдено! 
	<a onclick="location.href = '/page'">На головну →</a>
</p>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="js/404.js"></script>
</body>

</html>